body {
    background: url("https://wallscover.com/images/sports-wallpaper-9.jpg");
   


}
 
  
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    color:white
  }
  
  .userSport {
      display: inline-block;
      margin: 10px;
      color: white
  }
  
  button.sport {
      border-radius: 12px;
      background-color:white;
      color: black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      margin: 10px 5px 0;
  }
  
  #sport-form {
      margin: 10px 0;
      color: white;
  }
  
  #addSport {
      border-radius: 12px;
      background-color:white;
      color: black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: bold;
      font-size: 12px;
      
      margin: 5px 0;
  }
  
  